{% extends 'base.twig' %}

{% block title %}
    {{ 'Register'|trans }}
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <form action="{{ url('main_register') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" value="{{ 'Save'|trans }}"/>
    </form>
    <a href="{{ url('main_index') }}"> {{ 'Return'|trans }} </a>
{% endblock %}